In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r"E:\Study\Big Data\Bigadata\taxi_trip_data.csv")

In [5]:
df.shape

(10000000, 17)

In [6]:
df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id
0,2,2018-03-29 13:37:13,2018-03-29 14:17:01,1,18.15,3,N,1,70.0,0.0,0.0,16.16,10.50,0.3,96.96,161,1
1,2,2018-03-29 13:37:18,2018-03-29 14:15:33,1,4.59,1,N,1,25.0,0.0,0.5,5.16,0.00,0.3,30.96,13,230
2,2,2018-03-29 13:26:57,2018-03-29 13:28:03,1,0.30,1,N,1,3.0,0.0,0.5,0.76,0.00,0.3,4.56,231,231
3,2,2018-03-29 13:07:48,2018-03-29 14:03:05,2,16.97,1,N,1,49.5,0.0,0.5,5.61,5.76,0.3,61.67,231,138
4,2,2018-03-29 14:19:11,2018-03-29 15:19:59,5,14.45,1,N,1,45.5,0.0,0.5,10.41,5.76,0.3,62.47,87,138

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   vendor_id            int64
 1   pickup_datetime      object
 2   dropoff_datetime     object
 3   passenger_count      int64
 4   trip_distance        float64
 5   rate_code            int64
 6   store_and_fwd_flag   object
 7   payment_type         int64
 8   fare_amount          float64
 9   extra                float64
 10  mta_tax              float64
 11  tip_amount           float64
 12  tolls_amount         float64
 13  imp_surcharge        float64
 14  total_amount         float64
 15  pickup_location_id   int64
 16  dropoff_location_id  int64
dtypes: float64(8), int64(6), object(3)
memory usage: 1.3+ GB

In [9]:
df.describe

<bound method NDFrame.describe of          vendor_id      pickup_datetime     dropoff_datetime  passenger_count  \
0                2  2018-03-29 13:37:13  2018-03-29 14:17:01                1
1                2  2018-03-29 13:37:18  2018-03-29 14:15:33                1
2                2  2018-03-29 13:26:57  2018-03-29 13:28:03                1
3                2  2018-03-29 13:07:48  2018-03-29 14:03:05                2
4                2  2018-03-29 14:19:11  2018-03-29 15:19:59                5
...            ...                  ...                  ...              ...
9999995          2  2018-03-29 12:16:01  2018-03-29 13:03:31                1
9999996          1  2018-03-29 12:26:25  2018-03-29 13:09:54                1
9999997          2  2018-03-29 12:22:12  2018-03-29 13:01:07                2
9999998          2  2018-03-29 13:57:40  2018-03-29 15:07:42                1
9999999          2  2018-03-29 13:29:40  2018-03-29 14:02:51                1

         trip_distance  rate_code store_and_fwd_flag  payment_type  \
0                18.15          3                  N             1
1                 4.59          1                  N             1
2                 0.30          1                  N             1
3                16.97          1                  N             1
4                14.45          1                  N             1
...                ...        ...                ...           ...
9999995           3.45          1                  N             1
9999996           6.80          1                  N             1
9999997           8.46          1                  N             1
9999998          14.43          1                  N             1
9999999           4.42          1                  N             1

         fare_amount  extra  mta_tax  tip_amount  tolls_amount  imp_surcharge  \
0               70.0    0.0      0.0       16.16         10.50            0.3
1               25.0    0.0      0.5        5.16          0.00            0.3
2                3.0    0.0      0.5        0.76          0.00            0.3
3               49.5    0.0      0.5        5.61          5.76            0.3
4               45.5    0.0      0.5       10.41          5.76            0.3
...              ...    ...      ...         ...           ...            ...
9999995         27.5    0.0      0.5        5.66          0.00            0.3
9999996         30.0    0.0      0.5        4.62          0.00            0.3
9999997         35.0    0.0      0.5        8.31          5.76            0.3
9999998         52.5    0.0      0.5       11.81          5.76            0.3
9999999         21.5    0.0      0.5        5.58          0.00            0.3

         total_amount  pickup_location_id  dropoff_location_id
0               96.96                 161                    1
1               30.96                  13                  230
2                4.56                 231                  231
3               61.67                 231                  138
4               62.47                  87                  138
...               ...                 ...                  ...
9999995         33.96                 211                  229
9999996         35.42                  79                  238
9999997         49.87                 138                  162
9999998         70.87                  13                  138
9999999         27.88                 236                  211

[10000000 rows x 17 columns]>

In [10]:
df.drop_duplicates()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id
0,2,2018-03-29 13:37:13,2018-03-29 14:17:01,1,18.15,3,N,1,70.0,0.0,0.0,16.16,10.50,0.3,96.96,161,1
1,2,2018-03-29 13:37:18,2018-03-29 14:15:33,1,4.59,1,N,1,25.0,0.0,0.5,5.16,0.00,0.3,30.96,13,230
2,2,2018-03-29 13:26:57,2018-03-29 13:28:03,1,0.30,1,N,1,3.0,0.0,0.5,0.76,0.00,0.3,4.56,231,231
3,2,2018-03-29 13:07:48,2018-03-29 14:03:05,2,16.97,1,N,1,49.5,0.0,0.5,5.61,5.76,0.3,61.67,231,138
4,2,2018-03-29 14:19:11,2018-03-29 15:19:59,5,14.45,1,N,1,45.5,0.0,0.5,10.41,5.76,0.3,62.47,87,138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999983,1,2018-06-19 18:10:32,2018-06-19 18:41:58,1,9.60,1,N,1,31.0,1.0,0.5,7.70,5.76,0.3,46.26,230,138
9999984,2,2018-06-19 20:14:05,2018-06-19 20:34:49,5,7.54,1,N,1,24.5,0.5,0.5,5.16,0.00,0.3,30.96,237,13
9999985,1,2018-06-19 21:11:43,2018-06-19 21:39:34,1,5.40,1,N,1,22.0,0.5,0.5,4.65,0.00,0.3,27.95,211,75
9999986,1,2018-06-19 21:54:36,2018-06-19 22:18:08,2,5.40,1,N,1,22.0,0.5,0.5,5.80,5.76,0.3,34.86,119,262
9999988,2,2018-03-29 09:08:13,2018-03-29 09:47:22,1,12.01,1,N,1,39.0,0.0,0.5,11.39,5.76,0.3,56.95,138,230

In [13]:
df.isnull().sum()

vendor_id              0
pickup_datetime        0
dropoff_datetime       0
passenger_count        0
trip_distance          0
rate_code              0
store_and_fwd_flag     0
payment_type           0
fare_amount            0
extra                  0
mta_tax                0
tip_amount             0
tolls_amount           0
imp_surcharge          0
total_amount           0
pickup_location_id     0
dropoff_location_id    0
dtype: int64

In [ ]:
# Save to a CSV file
df.to_csv('cleaned_taxi_trip_data.csv', index=False)